<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=hello wor, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    hello word with ejs
    <div>
        <img class="anh"  src="/images/nhat.png" alt="">
         <!-- <%= JSON.stringify(accountEdit) //editaccount %> -->
        
    </div>
</body>
</html>